.oe-toolbar.o_sticky_toolbar {
    position: relative !important;
    visibility: visible !important;
    // width: 0 !important;
    // max-width: 0 !important;
    top: auto !important;
    left: auto !important;
    margin-bottom: 4px;
    // padding: 0 !important;
    // box-shadow: none !important;

    // Remove floating arrow decorations
    &::before,
    &::after {
        display: none !important;
    }
}
