<?xml version="1.0" encoding="utf-8"?>
  <odoo>
    <!-- Menu -->
    <menuitem id="menu_asset_registration_root"
            name="Create Asset"
            parent="account_asset_kmitl.menu_assets_management"
            sequence="25"/>

    <menuitem id="menu_asset_procurement"
            name="Procurement"
            parent="menu_asset_registration_root"
            action="account_asset_create_menu.action_asset_batch_procurement"
            sequence="10"/>

    <menuitem id="menu_asset_donation"
            name="Donation"
            parent="menu_asset_registration_root"
            action="account_asset_create_menu.action_asset_batch_donation"
            sequence="20"/>

    <menuitem id="menu_asset_transfer"
            name="Transfer"
            parent="menu_asset_registration_root"
            action="account_asset_create_menu.action_asset_batch_transfer"
            sequence="30"/>
  </odoo>