.kris_project_form.o_form_editable .oe_title .o_field_widget[name="project_name"] span {
    white-space: normal !important;
    overflow: visible !important;
    text-overflow: unset !important;
    word-break: break-word !important;
}

.o_kris_installment_allocation_tree {
    td.o_data_cell.text-warning,
    td.o_data_cell:has(> .o_field_widget.text-warning) {
        background-color: #fff3cd;
    }
}