.kris_project_form.o_form_editable .oe_title .o_field_widget[name="project_name"] span {
    white-space: normal !important;
    overflow: visible !important;
    text-overflow: unset !important;
    word-break: break-word !important;
}

.o_form_editable div[name="allocation_ids"] .o_field_cell.o_list_number[name="amount"] {
    background-color: #eeeeee;
    text-decoration: underline;
    cursor: text !important;
}
