.o_receipt_report_print_header {
    display: none;
}

@media print {
    .o_navbar,
    .o_main_navbar,
    .o_cp_action_menus,
    .o_control_panel,
    .o_receipt_report_header,
    .o_receipt_report_filters {
        display: none !important;
    }

    .o_receipt_report_print_header {
        display: block !important;
    }

    .o_receipt_report {
        padding: 0 !important;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .o_receipt_report_table {
        font-size: 11px;

        th,
        td {
            padding: 2px 4px !important;
        }
    }

    @page {
        size: A4 landscape;
        margin: 10mm;
    }
}
